.app-wrapper {
	overflow: hidden;
}

.topology-container {
	background-color: #2f99c1;
}

.topology-container > h1 {
	color: white;
	font-weight: 400;
	width: 100%;
	text-align: center;
}

.topology-container > div > div > canvas {
	background-color: #2f99c1;	
}